<div id='home' class='container'>

	<div class='row'>

		<div class='span8 offset2'>
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class='hero-unit'>
				<h1>Command Selection Experiment</h1>
			</div>

			<div id='instructions' class='row'>
				<div class='span5'>
					<p>This experiment will compare a user's performance when using Microsoft Office style Ribbons and CommandMaps for command selection. Our hypothesis: </p>
					<ol>
						<li>Knowledgeable users can select commands faster using CommandMaps than when using Ribbons.</li>
						<li>There is no performance difference between CommandMaps and Ribbons when selecting commands contained in the most recently used tab, but CommandMaps are faster than the Ribbon for tasks requireing swithcing between different parent tabs.</li>
						<li>Subjectively, users will prefer CommandMaps.</li>
					</ol>
				</div>
				<!-- The button to continue can appear when we put in the instructions a series of keys to press -->
				<div class='begin span3'>					
					<p><a href="/instructions" class='btn btn-primary btn-large'>Instructions</a></p>
				</div>
			</div>
		</div>
	</div>
</div>