<div id='begin' class='container-fluid'>

	<div class='row-fluid'>

		<div class='span12'>

			<div class='hero-unit'>
				<h1>CommandMap Instructions</h1>
			</div>

			<% if flash[:notice] %>
			    <div id="notice" class="alert alert-error"><%= flash[:notice] %></div>
			<% end %>

			<div class='row-fluid'>
				<div class='span10 offset1'>

					<p>You will be presented with an icon and its name. An example: <img src='/assets/ribbon/icons/normal/open-table.png' alt='Open Table icon' /> Open Table </small>
					</p>
					<p>Your task is to <strong> hit CTRL on the keyboard to activate the menu, then click the button that has the same icon.</strong> If you click on an incorrect icon you will hear a beep sound.
					</p>
					<p>You must try to complete the task as fast and accurately as possible. <strong><span class='text-info'>A bonus will be given to the fastest and most accurate</span></strong>.</p>
					
					<%= link_to 'Begin', intermediate_url, class: 'btn btn-primary btn-large' %>
				</div>
			</div>
		</div>
	</div>
</div>