<div id='home' class='container-fluid'>

	<div class='row-fluid'>

		<div class='span12'>

			<% if flash[:notice] %>
			    <div id="notice" class="alert alert"><%= flash[:notice] %></div>
			<% end %>
			
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class='hero-unit'>
				<h1>Are you ready for the next task?</h1>
				<br />
				<a href="/task" class='btn btn-primary'>Yes!</a>
			</div>

		</div>
	</div>
</div>


