<div id='begin' class='container'>

	<div class='row'>

		<div class='span8 offset2'>

			<div class='hero-unit'>
				<h1>Which way did you prefer?</h1>
			</div>

			<% if flash[:notice] %>
			    <div id="notice" class="alert alert-error"><%= flash[:notice] %></div>
			<% end %>

			<div class='row'>
				<div class='span8'>
					<a href='/thank_you?prefer=commandmaps' class='btn btn-primary btn-large'>I prefer CommandMaps</a>
					<a href='/thank_you?prefer=ribbons' class='btn btn-primary btn-large'>I prefer Ribbons &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</div>
			</div>
		</div>
	</div>
</div>