<%= render 'collect_data' %>

<% if !@ribbon %>
	<div id="commandmap">
		<%= render 'commandmaps'%>
	</div>
<% end %>

<div id="ribbon">

	<% if @ribbon %>	
		<span class="ribbon-window-title">Ribbons</span>
	<% else %>
		<span class="ribbon-window-title">Command Maps</span>
	<% end %>

<%= 
	if(@ribbon)
		render 'ribbon'
	end
%>

</div>
<div class="page">

	<div id="target_icon">
	</div>
	<br />
	<% if @ribbon %>
		 
	<% else %>
		Remember you can activate the menu by selecting CTRL on your keyboard.
	<% end %>

	<br />
	<br />

	<% if flash[:notice] %>
	    <div id="notice" class="alert alert-error"><%= flash[:notice] %></div>
	<% end %>


	<br />
	<br />
</div>

