<div id='thank_you' class='container-fluid'>

	<div class='row-fluid'>

		<div class='span12'>
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class='hero-unit'>
				<h1>Thank You! </h1>
				<br />
				<br />
				<h1>Here is your confirmation code:</h1>
				<br />
				<br />
				<h1><%= @user.code %></h1>
			</div>

		</div>
	</div>
</div>