<div id='home' class='container'>

	<div class='row'>

		<div class='span8 offset2'>
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class='hero-unit'>
				<h1>CommandMaps!</h1>
			</div>

			<div id='instructions' class='row'>
				<div class='span5'>
					<h1>Instructions</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam metus sem, vulputate quis porttitor a, euismod in ante. Donec adipiscing, velit sed convallis lobortis, sapien nibh tempor velit, vulputate egestas arcu ligula ac dolor. Cras et imperdiet nibh. Nunc imperdiet malesuada ipsum ut hendrerit. Proin vel mauris ut magna venenatis vulputate et aliquet eros. Curabitur eu porttitor purus. Phasellus eget eros neque, vitae vulputate augue.</p>
				</div>
				<!-- The button to continue can appear when we put in the instructions a series of keys to press -->
				<div class='begin span3'>
					<p><a class='btn btn-primary btn-large'>Begin &raquo;</a></p>
				</div>
			</div>
		</div>
	</div>
</div>