<div id='thank_you' class='container'>

	<div class='row'>

		<div class='span8 offset2'>
			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class='hero-unit'>
				<h1>Thank You!</h1>
			</div>

		</div>
	</div>
</div>