.page
{
	border: 1px solid #a5acb5;
	margin: 20px;
	padding: 15px;
	-webkit-box-shadow: #000000 0px 0px 10px;
	-moz-box-shadow: #000000 0px 0px 10px;
	box-shadow: #000000 0px 0px 10px;
	background: #FFF;
	behavior: url(/PIE.htc);
}

#cm
{
	font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;

	cursor: default;
	font-size: 8pt;
	padding-top: 10px;
	background-color: #eaedf1;
	border-bottom: 1px solid #8b9097;
	-webkit-box-shadow: #8b9097 0px 1px 3px;
	-moz-box-shadow: #8b9097 0px 1px 3px;
	box-shadow: #8b9097 0px 1px 3px;
	overflow: hidden;
	behavior: url(/PIE.htc);
	z-index: 25;
	width:100%;
/*	position: fixed;
	top: 0;
	left: 0;
	right: 0;*/
}

#cm.backstage
{
	height: auto;
	bottom: 0;
}
#cm .cm-window-title
{
	text-align: center;
	color: #000;
	padding: 2px;
	font-size: 10pt;
	display: block;
}

#cm .cm-section-title
{
	margin: 10px 0px 0px 0px;
	white-space: nowrap;
}

#cm .cm-section-title-tab
{
	display: inline;
	padding: 5px 10px;
	font-size: 8pt;
	color: #444; /*border: 1px solid #eaedf1;*/
	border-bottom: 1px solid #b6babf;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	position: relative;
	background: #fff;
	border: 1px solid #b6babf;
	margin: -1px 4px;
	border-bottom: 1px solid #fff;
	z-index: 45;
}


#cm .cm-tab
{
	height: 80px;
	padding: 5px;
	margin-top: 5px;
	border-top: 1px solid #b6babf;
	background: #FFF url('rib-back.png') repeat-x bottom;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1); /*-pie-background: linear-gradient(#ffffff, #eaedf1);*/
	overflow: hidden;
	min-width: 500px;
	behavior: url(/PIE.htc);
	z-index: 30;
	-pie-watch-ancestors: 2;
}


#cm .cm-backstage
{
	display: none;
}


#cm.backstage .cm-backstage
{
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	background-color: #FFF;
}

#cm .section-title
{
	color: #5B626C;
	text-align: center;
	clear: left;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

}

#cm .cm-section
{
	float: left;
	position: relative;
	height: 82px;
}

#cm .cm-section-sep
{
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #fff;
	margin: 0 5px;
	height: 75px;
	position: relative;
	width: 0;
	float: left;
}

#cm .cm-button
{
	padding: 4px 6px;
	border: 1px solid transparent;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;

}

#cm .cm-button-large
{
	text-align: center;
	height: 58px;
	min-width: 44px;
	float: left;
}

#cm .cm-button-small
{
	height: 14px;
	padding: 3px 4px;
	text-align: left;
	float:left;

}

#cm .cm-button .button-help
{
	display: none;
}

#cm .cm-button .button-title
{
	color: #444;
}

#cm .cm-button-large .button-title
{
	clear: left;
	display: block;
}

#cm .cm-button-large .cm-icon
{
	margin: auto;
}

#cm .cm-button-small .cm-icon
{
/*	width: 16px;*/	
	height: 16px;
	float: left;
	clear: left;
	margin: -1px 5px 0px 1px;
}
#cm .cm-button-small .cm-icon-long
{
	height: 16px;
	float: left;
	clear: left;
	margin: -1px 5px 0px 1px;
}
#cm .cm-button .cm-icon.cm-hot, #cm .cm-button .cm-icon.cm-disabled
{
	display: none;
}

#cm .cm-button-large .cm-icon.cm-normal
{
	display: block;
}

#cm .cm-button:hover .cm-icon.cm-normal
{
	display: none;
}

#cm .cm-button-large:hover .cm-icon.cm-hot
{
	display: block;
}
#cm .cm-button-small .cm-icon.cm-normal
{
	display: inline;
}

#cm .cm-button-small:hover .cm-icon.cm-hot
{
	display: inline;
}

#cm .cm-button:hover, #cm .cm-button.sel
{
	border: 1px solid #F1C43F;
	background: #fdeeb3;
	cursor: pointer;
	
}
#cm .cm-button:active
{
	border: 1px solid #F1C43F;
	background: #F1C43F;
	cursor: pointer;
}

#cm .cm-button.disabled .cm-icon, #cm .cm-button.disabled:hover .cm-icon
{
	display: none;
}
#cm .cm-button.disabled .cm-icon.cm-disabled
{
	display: block;
	opacity: 0.8;

}
#cm .cm-button.disabled .cm-icon.cm-implicit-disabled
{
	opacity: 0.4;
}

#cm .cm-button.disabled:hover
{
	border: 1px solid transparent;
	background: transparent;
	cursor: default;
}
#cm .cm-button.disabled:active
{
	border: 1px solid transparent;
	background: transparent;
	cursor: default;
}

#cm .cm-button.disabled .button-title
{
	color: #888;
}

.cm-tooltip
{
	font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt;
	position: fixed;
	z-index: 5000;
	border: 1px solid #8b9097;
	background-color: #e5e5f0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e5e5f0));
	background: -moz-linear-gradient(#ffffff, #e5e5f0);
	-pie-background: linear-gradient(#ffffff, #e5e5f0);
	padding: 5px;
	-webkit-box-shadow: #c6c9cd 1px 1px 3px;
	-moz-box-shadow: #c6c9cd 1px 1px 3px;
	box-shadow: #c6c9cd 1px 1px 3px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	width: 200px;
	top: 150px !important;
}
